body {
    margin: 20;
    height: 100vh;

    font-family: 'Inconsolata', monospace;
}

#wrapper {
    background-color: rgb(248, 160, 175);
    border-radius: 15px;
    border: solid 3px tomato;

    display: flex;
    flex-direction: column;

    height: 200px;
    padding: 10px;
}

#search-bar {
    display: flex;
    flex-direction: column;
    width: 25vw;
}